body {
  background-color: black;
  height: 1000px;
  font-family: "righteous";
}

.adviceBox {
  height: auto;
  width: 50vw;
  margin: 15vw auto 0 auto;
  background-color: darkgray;
}

#adviceNum {
  color: green;
  text-align: center;
}

#adviceWords {
  color: white;
  text-align: center;
}

#adviceBtn {
  background-color: green;
  color: white;
  text-align: center;
}
.btnContainer {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
